@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--white: #FFF;
	--blue: rgb(50, 62, 221);
  --new-blue-color-ERP: #3650A2;
	--light: #F5F5F5;
	--light-blue: #F3F0FF;
	--grey: #eee;
	--black: #222;
}
.log_custom{
  height: 60px;
  width: auto;
}

.for_feture_img_custm{
  width: 100%;
  height: auto;
  border-radius: 15px;
}


.whatsapp-icon{
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.whatsapp-icon a{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
.nav-link:focus {
  text-decoration: none;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}


/* FOR VERTICAL TAB VIEW */
.outer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.accordion_container {
  border-radius: 15px;
  overflow: hidden;
}

.accordion_wrapper {
  display: flex;
}

.accordion_indicator {
  padding: 1.5rem 0;
  border-right: 1px solid var(--border);
}

.accordion_indicator li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 15px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--new-blue-color-ERP);
  border-right: 3px solid transparent;
}

.accordion_indicator li i {
  font-size: 1.5rem;
}

.accordion_indicator li:hover {
  background: var(--hover-bg);
}

.accordion_indicator li.active {
  border-right-color: #fff;
  color: #fff;
  background-color: var(--new-blue-color-ERP);
}

.content {
  padding: 2rem;
  padding-right: 0;
  
}

.content_li {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s, height 1s;
}

.content_li.active {
  opacity: 1;
  height: auto;
  transition: opacity 1s, height 1s;
}

.content_li h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.content_li p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
} 

.feture_points{
  list-style-type: circle;
  margin-bottom: 0.7rem;
  font-size: 1.15rem;
}

.button_demo {
  margin: 20px 0;
  border-radius: 15px;
  background-color: var(--new-blue-color-ERP);
  font-size: 20px;
  padding: 15px;
  color: #fff;
  background-color: var(--new-blue-color-ERP);
}

.button_demo:hover {
  background-color: #fff;
  color: var(--blue);
  background-color: var(--new-blue-color-ERP);
}

.div_inner {
  display: flex;
}


.content_left_side img {
  width: 100%;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.mobile_accordio{
  display: none;
}


.clients {
  padding: 40px 0;
}

.clients .swiper {
  padding: 10px 0;
}

.clients .swiper-slide img {
  transition: 0.3s;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--new-blue-color-ERP);
}

@media screen and (max-width: 576px) {
  .accordion_wrapper {
    flex-direction: column;
  }

  .accordion_indicator {
    border-right: none;
  }
}
@media screen and (max-width: 780px) {
  .desktop_accordio{
    display: none;
  }
  .mobile_accordio{
    display: block;
  }
}

.fag_custom{
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
}